{
  "SKmission2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Satellite outpost",
    "message" : "\n\nAre you ready ? This quest may be hard.^red;enemy are Level 6 and a tech ball is needed^reset;",
    "okCaption" : "Let's go",
    "cancelCaption" : "Need preparation",
    "images" : {
        "portrait" : [ {"image" : "/objects/mission/Kal'Thar/SK_Kal'Tharportrait.png"} ]
    },
    "labels" : {
      "name" : "Ryoko"
  }
},
  "SKmission3" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Strange Location",
    "message" : "\n\nAre you ready ? ^red;enemy are Level 8.^reset;",
    "okCaption" : "Let's go",
    "cancelCaption" : "Refuse",
    "images" : {
        "portrait" : [ {"image" : "/objects/mission/Kal'Thar/SK_Kal'Tharportrait.png"} ]
    },
    "labels" : {
      "name" : "Ryoko"
  }
}
}