{
  "noCategoryFilters" : false,
  "filter" : [ "SK_Bar" ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
 "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/starknightcraftingheader.png",
      "fileBody" : "/interface/crafting/SK_Barbody.png",
      "fileFooter" : "/interface/crafting/starknightcraftingfooter.png"
    },
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [419, 257]
		},
	
		"windowtitle" : {
			"type" : "title",
			"title" : "^#00F2F2;FURNITURE^reset;",
			"subtitle" : "Craft some starknight stuff on this workbench",
			"position" : [-5, 259],
		
			"icon" : {
				"type" : "image",
				"file" : "/objects/Starknight/generic/bar/SK_Baricon.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},	
		"lblSchematics" : {
			"type" : "label",
			"position" : [119, 227],
			"hAnchor" : "mid",
			"value" : "^#00F2F2;        Drink/Food Stuff"
		},
	
		"spinCount" : {
			"type" : "spinner",
			"position" : [308, 53],
			"upOffset" : 36
		},
	
		"tbSpinCount" : {
			"type" : "textbox",
			"position" : [320, 53],
			"textAlign" : "center",
			"maxWidth" : 16,
			"hint" : "LIST"
		},
	
		"imgAmountInput" : {
			"type" : "image",
			"file" : "/interface/crafting/starknight_amount.png",
			"position" : [314, 52],
			"zlevel" : -3
		},
		
		"btnCraft" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/crafting/starknight_buttonhover.png",
			"position" : [356, 50],
			"caption" : "Craft"
		},
	
		"btnStopCraft" : {
			"type" : "button",
			"base" : "/interface/buttonactive.png",
			"hover" : "/interface/buttonactivehover.png",
			"position" : [356, 50],
			"caption" : "Stop"
		},
	
		"currentRecipeIcon" : {
			"type" : "itemslot",
			"callback" : "null",
			"position" : [286, 48]
		},
	
		"btnFilterHaveMaterials" : {
			"type" : "button",
			"base" : "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked" : "/interface/crafting/checkboxcheck.png",
			"checkable" : true,
			"checked" : false,
			"position" : [125, 64]
		},
	
		"lblProduct" : {
			"type" : "label",
			"position" : [135, 63],
			"hAnchor" : "left",
			"value" : "MATERIALS AVAILABLE"
		},
	
		"description" : {
			"type" : "widget",
			"position" : [279, 46],
			"size" : [140, 220]
		},

		"filter" : {
			"type" : "textbox",
			"position" : [148, 48],
			"hint" : "Search",
			"maxWidth" : 60,
			"escapeKey" : "close",
			"enterKey" : "filter",
			"focus" : false
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [94, 75, 264, 226],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/crafting/SKcraftableselected2.png",
						"unselectedBG" : "/interface/crafting/SKcraftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/SKcraftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemName" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Replace Me"
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"newIcon" : {
								"type" : "image",
								"position" : [119, 5],
								"file" : "/interface/crafting/starknight_new.png",
								"zlevel" : 2
							},
							
							"notcraftableoverlay" : {
								"type" : "image",
								"file" : "/interface/crafting/notcraftableoverlay.png",
								"position" : [2, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		},
		"categories" : {
			"type" : "radioGroup",
			"toggleMode" : false,
			"buttons" : [
			{
				"selected" : true,
				"position" : [17, 200],
				"baseImage" : "/interface/crafting/SK_drinks.png",
				"baseImageChecked" : "/interface/crafting/SK_drinksclick.png",
				"data" : {
					"filter" : [ "drinks" ]
				}
			},
			{
				"position" : [43, 200],
				"baseImage" : "/interface/crafting/starknight_foods.png",
				"baseImageChecked" : "/interface/crafting/starknight_foodsclick.png",
				"data" : {
					"filter" : [ "foods" ]
				}
			}
			]
		},

		"rarities" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		}
	}	
}