{
  "action" : "actions",
  "list" : [
    {
                                  "inheritDamageFactor" : 1,
								  "fuzzAngle":180,
                                  "type" : "sk_peaexplosion",
                                  "action" : "projectile",
                                  "config" : {
                                    "knockback" : 10
                                  }
                                },
  {
  "inheritDamageFactor" : 0,
  "type" : "invisibleprojectile",
  "action" : "projectile",
  "config" : {
  "bounces": -1,
  "timeToLive":0.1,
  "damageType" : "nodamage",
  "actionOnReap":[],
  "periodicActions" : [{
                              "rotate" : true,
                              "time" : 0,
                              "body" : [{
                                          "specification" : {
                "initialVelocity" : [-30, 0],
                "length" : 2,
                "layer" : "back",
                "collidesForeground" : false,
                "destructionAction" : "shrink",
                "fullbright" : true,
                "type" : "streak",
                "destructionTime" : 0.2,
                "color" : [17, 255, 255],
                "size" : 2,
                "timeToLive" : 0,
				"variance" : {
                                  "initialVelocity" : [10, 15]
                                },
                "position" : [0, 0]
              },"rotate" : true,
                                          "action" : "particle"
                                        },{
                                          "specification" : {
                "initialVelocity" : [-30, 0],
                "length" : 2,
                "layer" : "back",
                "collidesForeground" : false,
                "destructionAction" : "shrink",
                "fullbright" : true,
                "type" : "streak",
                "destructionTime" : 0.2,
                "color" : [255, 255, 255],
                "size" : 2,
                "timeToLive" : 0,
				"variance" : {
                                  "initialVelocity" : [10, 15]
                                },
                "position" : [0, 0]
              },"rotate" : true,
                                          "action" : "particle"
                                        }],
                              "repeat" : false,
                              "count" : 2,
							  "action" : "loop"
                            }]
  }
  },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    }
  ]
}
